{% extends "student_page.html" %}

{% block learned_content %} 
    <p>I have learned some very interesting things throughout the year. Coming in to this class I was not expecting anything we did. I’m very happy how this class turned out!</p>
{% endblock %}


{% block challenge_content %} 
    <p>I would say the most challenging thing about coding is finding the error and how to find it. Although after finding the error and getting it fixed is a great feeling. </p>
{% endblock %}


{% block snap_content %} 
    <p>The reason I liked this project is because of the moving cloud and palm tree. I also like the the jumping over another sprite.</p>
    <iframe class="snap-project" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=adam%20schepp&ProjectName=Project%203.0"></iframe>
{% endblock %}


{% block python_content %} 
    <p>My favorite project was oregon trail, because the game was fun to play once you had the code working. Also, that the game is already online and people have played it before. https://repl.it/@adamschepp/Oregon-trai</p>
{% endblock %}


{% block other_student_content %} 
    <p>Other students should take this class, because the experience is awesome. The projects have a challenge to them, but also have a fun side to them. At times the coding can get hard but, that’s why we have teachers to help you.</p>
{% endblock %}

{% block extra_content %} 
    <!-- <h3>Extra content</h3>
    <p>Test</p> -->
{% endblock %}