{% extends "student_page.html" %}

{% block learned_content %} 
    <p>Add content here about what you learned!</p>
{% endblock %}


{% block challenge_content %} 
    <p>Add content here about what was challenging about the class </p>
{% endblock %}


{% block snap_content %} 
    <p>Add content here about which SNAP project was your favorite and why, and update the link below</p>
    <iframe class="snap-project" src="http://snap.berkeley.edu/snapsource/snap.html#present:Username=jens&ProjectName=PathFinder"></iframe>
{% endblock %}


{% block python_content %} 
    <p>Add content here about which Python project was your favorite</p>
{% endblock %}


{% block other_student_content %} 
    <p>Add content here about why other students should take the class</p>
{% endblock %}

{% block extra_content %} 
    <!-- <h3>Extra content</h3>
    <p>Test</p> -->
{% endblock %}