{% extends "student_page.html" %}

{% block learned_content %} 
<p>I remember learning problem solving skills with python and snap, i also learned how to properly play minesweeper while in this class. This class helped reinforce my little knowledge of coding and programming as well. </p>

{% endblock %}


{% block challenge_content %} 
<p>Functions: that is all. </p>

{% endblock %}


{% block snap_content %} 
    
   <p>With this project I worked with Grace to make a hangman game, i like the format and mechanics we implemented so that’s why i put this in here. </p>
   <iframe class="snap-project" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=brysonhama838&ProjectName=Guess%20my%20word%20(w%2F%20Grace)"></iframe>

{% endblock %}


{% block python_content %} 
    <p>My favorite Python project was probably the text adventure game i made. It’s basically one big JoJo reference. I made it five floors instead of the minimum three which was much more fun. It might have a few bugs but it’s fun regardless. </p>
        <iframe height="400px" width="100%" src="https://repl.it/@BrysonHaman/Was-that-a-jojo-reference-The-Game?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> 

{% endblock %}


{% block other_student_content %} 
    <p>With the rising need for programmers this class is great for the basics and getting you into it.</p>
{% endblock %}
