{% extends "student_page.html" %}
{% block learned_content %}
<p> Basically, I learned how to code. Going into it I knew what coding was but had no idea how to do it. I learned how to create basic games and make a computer do what I want it to do. </p>
{% endblock %}


{% block challenge_content %}
<p> The challenging part of the class was going into it with little to no knowledge about it. Getting used to Snap then making the switch to Python was also challenging. </p>
{% endblock %}

{% block snap_content %}
<p> My favorite project to do was the Platform Game. I finished it early and got to add more stuff onto it. We had the freedom to do what we wanted with it, but with the basic format. </p>
<iframe class="snap-project" src=https://snap.berkeley.edu/snapsource/snap.html#present:Username=daniel%20mantei&ProjectName=Platform%20Game></iframe> 
{% endblock %}


{% block python_content %}
<p> My favorite python project was the Dungeon Game. I thought it was fun to make and play it in the end. </p> <iframe height="400px" width="100%" src="https://repl.it/@DanielMantei/Dungeon-Game?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
{% endblock %}


{% block other_student_content %}
<p> Going into this class I had no idea what to expect but it ended up being really fun. At times it was challenging but it was a good experience. Definitely would recommend. It was also fun getting to know the teachers in such a different way and having them come down to our school to hang out with them. The class opens up new opportunities for out of school options and future careers.  </p>
{% endblock %}


