{% extends "student_page.html" %}

{% block learned_content %} 
    <p>What I learned in the class was what actual coding was and how it is usde in daily life around the world. Computer science is amazing how it connects the world with just line of code .</p>
{% endblock %}


{% block challenge_content %} 
    <p> This class was challening because it was new to me and computers were not exactly my thing. </p>
{% endblock %}


{% block snap_content %} 
    <p>My favorite snap project was my final project.</p>
    <iframe class="snap-project" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=grace.mogen&ProjectName=basketball"></iframe>
{% endblock %}


{% block python_content %} 
    <p>My favorite python project was the Oregon Trail</p>
{% endblock %}


{% block other_student_content %} 
    <p>Be very open minded to try new thing in the computer world.</p>
{% endblock %}
