{% extends "student_page.html" %}

{% block learned_content %} 
    <p>During my time in this class I have learned lots. It taught me to be patient, especially while doing projects. It has taught me to find problems quickly and often times the smallest things things like a misspelled word or a misplaced block. I have learned two different coding types, one called Python and one called SNAP! Python is the code that is used by lots of major tech companies, so if I were to explore a career in this field I am already comfortable in this form of coding.</p>
{% endblock %}


{% block challenge_content %} 
    <p>There were lots of challenges during this class, especially in the beginning of learning both programs. SNAP!, the one we learned first, was actually easier to learn because you learn most of your information right away and as you keep doing projects you become much better at it. Python was much especially was tough because, it is very different and you learn something new every week. Defining and calling functions was especially difficult.</p>
{% endblock %}


{% block snap_content %} 
    <p>My favorite SNAP! project happens to be our final project, we were allowed to make anything we wanted as long as it could be done in SNAP! I chose to do a game like the old arcade game Galaga, it was very difficult but fun to do.</p>
    <iframe class="snap-project" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=gmogen02&ProjectName=Project%20Gunnar%20-%20Galaga"></iframe>
{% endblock %}


{% block python_content %} 
    <p>My favorite python project was one of our early ones which was a madlib game. It took users answers and put them into a paragraph that was printed back to the user at the end of all the questions-https://repl.it/student/submissions/5613842 </p>
{% endblock %}


{% block other_student_content %} 
    <p> Other students should take this class because it teaches you things that you can take into other classes. It teaches you to be patient and work through problems without getting frustrated. It is also great way to learn something new it give you more options for jobs in the future. Especially in an industry that is growing and always in need of workers.</p>
{% endblock %}
