{% extends "student_page.html" %}

{% block learned_content %} 
    <p>I learned lots of things from this class but mostly the basics of computer science. This class taught me that every problem does in fact have a solution even if it might be a lot more complicated than you would like. </p>
{% endblock %}


{% block challenge_content %} 
    <p>The most challenging thing for me with this class was sticking with a problem until I fixed it. I have a really short attention span so some of the longer projects were really hard for me to stick with because I would get bored with it. But when it was all said and done it was definitely worth the challenge.</p>
{% endblock %}


{% block snap_content %} 
    <p>This is my favorite project because it was my favorite look wise. I liked the platform game aspect of it because reminded me of Mario and it was a major throwback. It was my favorite to code because it was pretty self explanatory to code. 
    </p>
    <iframe class="snap-project" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=pasteurizedmilk&ProjectName=Isabella%20Rowland%203
    "></iframe>
{% endblock %}


{% block python_content %} 
    <p>This is my favorite python project because I liked all the creativity involved in making it. You got to customize all the monsters and what the player found and it was just a very personal project and it was very fun because of that.
    </p>
    <iframe height="400px" width="100%" src="https://repl.it/@pasteurizedmilk/dungeon-game?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
{% endblock %}


{% block other_student_content %} 
    <p>I think others should take this class because it’s honestly a very fun class to take and it’s a very interesting thing to learn. It was something I wouldn’t have thought about taking before but I’m glad I did take it. It was one of my favorite classes I took this year and I think most of my classmates would agree. It allows you to work at your own pace because everyone can help you and you can bring what you’re doing home.
    </p>
{% endblock %}
