{% extends "student_page.html" %}

{% block learned_content %}
<p>I have learned how a computer works. Before this class I knew that coding took forever to get the most basic stuff to work. But until you do it for yourself you don’t get what it takes to get the stuff to work. I also have learned that I coding is fun to do because it makes you think a lot. </p>
{% endblock %}


{% block challenge_content %}
<p>The hardest thing is to try to figure out what to do. The worst thing ever is when the teachers say go and you have no idea what to do. </p>
{% endblock %}


{% block snap_content %}
<p> I really liked this project because it has a lot of color and it was more of a basic project. But yet it made you think. Also it was nice because I knew what the game was which helped with knowing what it was suppose to look like.</p>
<iframe class="snap-project" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=jerimiah460&ProjectName=jerry%20project%202"></iframe>
{% endblock %}


{% block python_content %}
<p> I liked this project because it is a game that most people have played. So it made me feel good that i made something that other people have seen.    </p>
<iframe height="400px" width="100%" src="https://repl.it/@jerimiah460/Oregon-trail?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
{% endblock %}


{% block other_student_content %}
<p>Other students should take this class or at least a class like this. Not only because it is fun and new. But because the future of the world is going to be in this type of stuff. So it would be smart to try it out before it is to late. </p>
{% endblock %}

