{% extends "student_page.html" %}

{% block learned_content %} 
    <p>I learned more than I expected to learn. I now know the basics behind coding and how websites, apps, and computers work. This knowledge I believe is very important for everybody to know due to our ever more technology dependent world.!</p>
{% endblock %}


{% block challenge_content %} 
    <p>Going into this class I had no previous experience in coding. When I first was hearing terms and instructions it was quite confusing. I eventually started understanding what everything did.</p>
{% endblock %}


{% block snap_content %} 
    <p>Snap was my first experience with coding. I found it to be a great way to learn the basics of coding. My favorite project was our final game project which I created.</p>
    <iframe class="https://snap.berkeley.edu/snapsource/snap.html#present:Username=michael20&ProjectName=Final"></iframe>
{% endblock %}


{% block python_content %} 
    <p>Python was our second type of coding we went into which got a little bit harder. My favorite project from there was our first project where we made a mad lib in the code. https://repl.it/@Michael30/Mad-Libs</p>
{% endblock %}


{% block other_student_content %} 
    <p>This class I feel is an important class to take because of our tech based future. Most jobs in the future, and even now, will have you dealing with a computer. Taking this class allows you to get a better understanding on how those computers work. There are a vast number of jobs out there too that deal with working computers.</p>
{% endblock %}
