{% extends "student_page.html" %}

{% block learned_content %} 
    <p>During this class, I have learned that coding seems scary and very difficult, but it is quit easy once you get to do it. Going into this class I thought it was going to be very challenging, which at some points it was. The more I did it and the more I have done it, the more i understand it and the faster I create the projects and get them done.¸</p>
{% endblock %}


{% block challenge_content %} 
    <p>At first everything was hard to wrap your head around, but over the course of the year it has all made sense. It has gotten easier to understand over the year by using both SNAP and python. </p>
{% endblock %}


{% block snap_content %} 
    <p>My favorite project and the most challenging I made on SNAP was trying to create Connect Four. It took me so long to try and figure out because I would fix one problem and another would arise. The teachers we have had didn’t realize it would be as hard as it was to figure out, but it feels great to know I created it and it feels accomplishing to see it work.</p>
    <iframe class="snap-project" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=allies&ProjectName=Final%20Project%20-%20Connect%20Four%20v2%20Morgan"></iframe>
{% endblock %}


{% block python_content %} 
    <p>My favorite project we had done in python would have to be the Oregon trail because it is the first real game we created in python. Seeing it work so well makes me feel great to know that I had made it.</p>
{% endblock %}


{% block other_student_content %} 
    <p>This class is a must to take if you are at all interested in computers or even use them everyday to help understand how all these things work. It makes you realize how many hours can go into one thing, but it always can become very successful.</p>
{% endblock %}
