{% extends "student_page.html" %}

{% block learned_content %} 
    <p>This class has taught me basic coding from block form (Snap) to text form (Python). At the beginning of the year I was doing simple projects such as drawing a square in Snap, and now I’m creating complex games that require lots of thought put into them.</p>
{% endblock %}


{% block challenge_content %} 
    <p>Although some may find this class challenging, I have found it to have minimal challenge. This is most likely due to my many hours of experience with computers. I have had my times where I’ve struggled, but they were few and far between.</p>
{% endblock %}


{% block snap_content %} 
    <p>My favorite Snap project has to be my final project. Five Nights at Veggies. I was very pleased with the finished project and would do it all over again.</p>
    <iframe class="snap-project" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=paul%20herr&ProjectName=Five%20Nights%20At%20Veggies%201.4"></iframe>
{% endblock %}


{% block python_content %} 
    <p>My favorite Python project would have to be the castle adventure game. This was the first major game project that we worked on in Snap. It felt good to see the final project when it all came together.</p>
<iframe height="400px" width="100%" src="https://repl.it/@PaulHerr/Text-Adventure?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
{% endblock %}


{% block other_student_content %} 
    <p>I think others should take this class because you can be creative with your projects. After you follow the guidelines for most of the projects you are able to modify your game to your liking. Also, it’s good to find out if you enjoy coding, since you can get well paying jobs for coding. If you don’t like coding, then you know that coding isn’t your thing. You never know until you try.</p>
{% endblock %}
