{% extends "student_page.html" %}


{% block learned_content %}
<p>I learned how to code! This is a really basic answer, but I learned so much about computer programming that I never knew before. </p>
{% endblock %}






{% block challenge_content %}
<p>Sometimes it was really challenging to figure out what was wrong with my projects, especially in Snap. If I had a bug in the code, it could take up to a few days to figure out what was wrong. </p>
{% endblock %}






{% block snap_content %}
<p>My favorite Snap project was my final project called Asteroids. I am very proud of this project because it applied all of the things I had learned throughout the first semester.</p>
<iframe class="snap-project" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=skylerballard&ProjectName=Final%20Project"></iframe>
{% endblock %}






{% block python_content %}
<p>My favorite Python project was the Oregon Trail project. Although this was definitely the hardest project to implement, it was really rewarding to see the project when it was finished.</p>
{% endblock %}
https://repl.it/@skylerballard/Oregon-Trail





{% block other_student_content %}
<p>This class was really fun and educational. I learned a lot, and I had a lot of fun while doing it. I think other people should take this class because it opens a lot of opportunities for the future. Computer programming is a growing industry!</p>
{% endblock %}

{% block extra_content %}
<h3>My experience</h3>
When I first started this class, I wasn’t sure what to expect. I was really nervous because I had never done anything with computer programming at all. As we got further into the class, I realized that it didn’t matter that I didn’t have any previous experience because all of my teachers were very helpful and supportive all the time.
{% endblock %}
