{% extends "student_page.html" %}

{% block learned_content %}
   <p> During the course of the year, I had the opportunity to learn the basics of how to code plus some! We learned how to code many different games and text. I first learned from simple drag and drop code from SNAP and eventually worked our way up to python. In SNAP we worked on simple creations including drawing different shapes and eventually go up to creating complex games with scoring systems. Halfway through the year we switched over to python where we started with simple print statements and eventually got to coding simple text games. </p>
{% endblock %}

{% block challenge_content %}
   <p> The chalenging part was getting started. This was the first class our school had offered that was straight coding. I came in with very little knowledge on how code worked. I did know the very basics on HTML in which when we started I learned that my primitive knowledge on HTML did not compare to what we would learn throughout the year. </p>
{% endblock %}

{% block snap_content %}
    <p>This project was one of the toughest I have done. The main challenge I had was getting the snake to update its position in a list and then teleport the previous block to the next part of the snake. The reason why this project was my favorite is because it was the first full game I created that had the player either win or lose. </p>
    <p>SNAKE</p>
    <iframe class="snap-project" src="https://snap.berkeley.edu/snapsource/snap.html#present:Username=wyatt.hanson&ProjectName=FINAL"></iframe>
{% endblock %}

{% block python_content %}
   <p>I really liked this repl project not only because it was one of the hardest but also because it allowed me to recreate another classic game that is very fun and strategic. It also introduced functions that ran specialized code that allowed us to run different code at once.</p>
   <iframe height="400px" width="100%" src="https://repl.it/@WyattHanson/Oregon-Trail?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
{% endblock %}

{% block other_student_content %}
   <p>I recommend that everyone that has an interest in gaming or even coding should take this class. This class has given me a greater appreciation on how hard it is to create a game. This class is pretty challenging but, if you learn to keep an open mind and remain persistent, you can make it through and have fun. </p>
{% endblock %}

