{% extends "base.html" %}

{% block content %}
	<!-- Banner -->
	<div id="banner" class="container">
		<section>
			<p>For the 2018-2019 school year, 12 Velva students learned to code with SNAP and Python.  They were assisted by 4 volunteer teachers from TEALS, and their classroom teacher Brent Engebretson.  Check out each student's personal page below. </p>
		</section>
	</div>

	<!-- Extra -->
	<div id="extra">
		<div class="container">
			<div class="row no-collapse-1">
				<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}"alt=""></a>
					<div class="box">
						<p>Adam</p>
						<a href="/adam" class="button">Read More</a> </div>
				</section>
				<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
					<div class="box">
						<p>Wyatt</p>
						<a href="/wyatt" class="button">Read More</a> </div>
				</section>
				<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/Paul.png') }}" alt=""></a>
					<div class="box">
						<p>Paul</p>
						<a href="/paul" class="button">Read More</a> </div>
				</section>
			</div>
			<div class="row no-collapse-1">
				<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
					<div class="box">
						<p>Grace</p>
						<a href="/grace" class="button">Read More</a> </div>
				</section>
				<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
					<div class="box">
						<p>Isabella</p>
						<a href="/isabella" class="button">Read More</a> </div>
				</section>
				<section class="4u"> <a href="#" class="image featured"><img src="https://media2.s-nbcnews.com/i/newscms/2017_26/1224502/steve-carell-tease-today-170626_fd243d59813f125b2f8df9306187bfa2.jpg" alt=""></a>
					<div class="box">
						<p>Daniel</p>
						<a href="/daniel" class="button">Read More</a> </div>
				</section>
			</div>
			<div class="row no-collapse-1">
				<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
					<div class="box">
						<p>Morgan</p>
						<a href="/morgan" class="button">Read More</a> </div>
				</section>
				<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/gunnar-profile.jpg') }}" alt=""></a>
					<div class="box">
						<p>Gunnar</p>
						<a href="/gunnar" class="button">Read More</a> </div>
				</section>
				<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
					<div class="box">
						<p>Bryson</p>
						<a href="/bryson" class="button">Read More</a> </div>
				</section>
			</div>
			<div class="row no-collapse-1">
				<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/jerry-profile.jpg') }}" alt=""></a>
					<div class="box">
						<p>Jerry</p>
						<a href="/jerry" class="button">Read More</a> </div>
				</section>
				<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
					<div class="box">
						<p>Michael</p>
						<a href="/michael" class="button">Read More</a> </div>
				</section>
				<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/skyler-profile.jpg') }}" alt=""></a>
					<div class="box">
						<p>Skyler</p>
						<a href="/skyler" class="button">Read More</a> </div>
				</section>
			</div>
		</div>
	</div>
    
{% endblock %}
