<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Intro to CS at Velva</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='skel.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='style-wide.css') }}"/>
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='skel-layers.min.js') }}"></script>
		<script src="{{ url_for('static', filename='init.js') }}"></script>
		<noscript>
			<!-- <link rel="stylesheet" href="{{ url_for('static', filename='static/skel.css') }}"/>
			<link rel="stylesheet" href="{{ url_for('static', filename='static/style.css') }}"/>
			<link rel="stylesheet" href="{{ url_for('static', filename='static/style-wide.css') }}"/> -->
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
						<div id="logo">
							<h1><a href="index.html">Velva HS - Intro to Computer Science</a></h1>
							<span class="tag">Class Website</span>
						</div>
					</div>

				<!-- Banner -->
					<div id="banner" class="container">
						<section>
							<p>For the 2018-2019 school year, 12 Velva students learned to code with SNAP and Python.  They were assisted by 4 volunteer teachers from TEALS, and their classroom teacher Brent Engebretson.  Check out each student's personal page below. </p>
						</section>
					</div>

				<!-- Extra -->
					<div id="extra">
						<div class="container">
							<div class="row no-collapse-1">
								<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}"alt=""></a>
									<div class="box">
										<p>Adam</p>
										<a href="/adam" class="button">Read More</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
									<div class="box">
										<p>Wyatt</p>
										<a href="/wyatt" class="button">Read More</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
									<div class="box">
										<p>Paul</p>
										<a href="/paul" class="button">Read More</a> </div>
								</section>
							</div>
							<div class="row no-collapse-1">
								<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
									<div class="box">
										<p>Grace</p>
										<a href="/grace" class="button">Read More</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
									<div class="box">
										<p>Isabella</p>
										<a href="/isabella" class="button">Read More</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
									<div class="box">
										<p>Daniel</p>
										<a href="/daniel" class="button">Read More</a> </div>
								</section>
							</div>
							<div class="row no-collapse-1">
								<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
									<div class="box">
										<p>Morgan</p>
										<a href="/morgan" class="button">Read More</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
									<div class="box">
										<p>Gunnar</p>
										<a href="/gunnar" class="button">Read More</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
									<div class="box">
										<p>Bryson</p>
										<a href="/bryson" class="button">Read More</a> </div>
								</section>
							</div>
							<div class="row no-collapse-1">
								<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
									<div class="box">
										<p>Jerry</p>
										<a href="#" class="button">Read More</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
									<div class="box">
										<p>Michael</p>
										<a href="/michael" class="button">Read More</a> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="{{ url_for('static', filename='images/blank-profile.jpg') }}" alt=""></a>
									<div class="box">
										<p>Skyler</p>
										<a href="/skyler" class="button">Read More</a> </div>
								</section>
							</div>
						</div>
					</div>

	</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<div class="copyright">
					<p>Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</p>
					<ul class="icons">
						<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
					</ul>
				</div>
			</div>
		</div>

	</body>
</html>